.featured {
    width: 100%;
    display: flex;
    font-size: 1.25rem;
    text-align: center;
    color: var(--white-clr);
    padding: 3rem 1rem;
    background-image: linear-gradient(0deg, var(--bg-clr), var(--midblue-clr)40%, var(--darkblue-clr)60%, var(--bg-clr));
    justify-content: center;
}

.featured h3 {
    margin-bottom: 2rem;
}

.featured .container {
    width: min(100%, 1280px);
    height: 100%;
}

.featured h2 {
    color: var(--white-clr);
}

.featured p {
    color: var(--white-clr);
    font-size: 1.2rem;
    opacity: 0.5;
}

.featured .icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 3rem;
}

.featured .icons {
    width: 64px;
    height: 64px;
    padding: 16px;

    background-color: var(--bg-clr);
    border: 3px solid var(--purple-clr);
    border-radius: 50px;
    box-shadow: 0 0 80px var(--bg-clr);


    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;
}

.featured .icon {
    width: 100%;
    height: 100%;
    color: var(--blue-clr);
}

.featured .icons:hover {
    border: 3px solid var(--midblue-clr);
    transform: rotate(-20deg) scale(1.05);
    box-shadow: 0 0 80px var(--white-clr);
}

.featured .icons.active {
    border: 3px solid var(--blue-clr);
    transform: rotate(20deg) scale(1.05);
    box-shadow: 0 0 80px var(--blue-clr);
}

.featured .boxtext {
    perspective: 1000px;
    width: 100%;
    height: 125px;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.featured .boxtext.flipping {
    transform: scale(0.8) rotateY(15deg);
    opacity: 0;
}

@media screen and (max-width: 800px) {
    .featured {
        font-size: 1rem;
    }

    .featured h3 {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .featured .icons-container {
        gap: 10px;
        margin: 3rem 0;
    }

    .featured .icons {
        width: 58px;
        height: 58px;
    }

    .featured .boxtext {
        height: 165px;
    }
}